<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario de Equipos de Victor Ponz</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<h1>Inventario del Centro de Victor Ponz</h1>
<div class="contenedor-botones">
    <a th:href="@{/nueva-aula}" class="btn btn-verde">
        + Crear Nueva Aula
    </a>
    <a th:href="@{/nuevo}" class="btn btn-azul">
        + Añadir Nuevo Ordenador
    </a>
</div>
<div class="galeria">
    <div th:each="ordenador : ${ordenadores}" class="tarjeta">
        <div class="contenido-texto">
            <h3 th:text="${ordenador.marca}" class="marca">Marca del PC</h3>
            <span class="etiqueta-aula" th:text="${ordenador.aula.nombre}">Nombre del Aula</span>
        </div>
    </div>
</div>
</body>
</html>