<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
<h1>Web de clientes</h1>
<ul>
    <li th:each="customer : ${customers}">
        <!-- Nombre del cliente -->
        <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
        <!-- Lista de notas. Otro for por cada nota del cliente -->
        <ul>
            <li th:each="note : ${customer.notes}"
                th:text="${note.text}">
                Nota de ejemplo
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
